{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!
{% endblock %}

{% block body %}
	<div><a class='lf--forgot' href="{{ path('app_logout') }}">logout </a></div>
	<div {{react_component("App")}}></div>

	<div><a class='lf--forgot' href="{{ path('app_logout') }}">logout </a></div>


{% endblock %} 
