
$left-color:  #0fac60;
$right-color: #14addc;
$green-dark:  #35c3c1;
$green-light: #00d6b7;
$gray:        #8f8f8f;
$gray-light:  #f5f6f8;

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
html,body { height: 100%;}
.loginBody {
  display:flex;
  align-items: center;
  flex-direction: column;
  position:relative;
  background-color: #D7CCC8;
  
  // background: repeating-linear-gradient(
  //   90deg,
  //   rgba(#fef68a, .9),
  //   rgba(#119992a4  , .9)
  // );
  // font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
.body{margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}


.ListTitle{
  font-size:30px;
  text-align:center;
  line-height:1.5em; 
  font-family:"Playfair Display", serif; 
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing: 2px; 
  color:#111;
}

.ListTitle:before{
  position:relative;
  left: 0;
  bottom: 20px;
  width: 60%;
  left:50%; 
  margin-left:-7%;
  height: 1px;
  content: "";
  background-color: #777; 
  z-index: 4;
}


.line{
  margin-bottom: 5px;
  // overflow: visible;
    padding: 0;
    border: none;
    border-top: medium solid #333;
    color: black;
    // text-align: center;
}
// .line::after{
//   margin-left: -7%;
//   content: "≪•◦ ❈ ◦•≫";
//   color: #c50000;
//   display: inline-block;
//   position: relative;
//   top: -0.75em;
//   font-size: 2em;
//   padding: 0 0.25em;
//   background: none;
// }

.noteHr{
  padding: 0;
  // border: none;
  width: 100%;
  background-color: none;           
  border-top: 2px dashed black ;
  border-radius: 5px;
  color: black;
  // text-align: center;

  // clear:both;
  // display:block;
}
.noteHr.hidden{
  display: none;
}




.Form{
  display: flex;
  justify-content: center ;

}

.InputButtonWrap{
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
   
}

.labelWrap{
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 3px;

}

.titleLabel,.noteLabel{
  position:relative; 
  font-size:20px; 
  font-weight:700;  
  letter-spacing:0px; 
  text-transform:uppercase; 
  width:150px; text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  border:2px solid #222;
  padding:5px 11px 3px 11px;
}
.titleLabel:before,.noteLabel:before{
  left:-20px;
}
.titleLabel:after,.noteLabel:after{
  right:-20px;
}
.titleLabel:before,.noteLabel:before,.titleLabel:after,.noteLabel:after{
  background-color: #c50000;
  position:absolute; 
  content: '';
  height: 7px;

  width: 7px; border-radius:50%;
  bottom: 12px
}

// .searchBar,
.InputSpace{
    background-color: hsl(180, 70%, 91%);
    border-radius: 6px;
    border-color:black ;
    border-width: 2px;

    
    font-weight:bold;
    border-width:10px;
    border-style:inset;
    border-color:#119992;
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75);
}

// .searchBar:focus,
.InputSpace:focus{
  outline:auto;
}

.InputNewNote{
  background-color: #119992a4;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.InputNewNote:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.InputNewNote:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.showDel, .deleter{
  margin-top: 14px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid rgb(231, 50, 50);
  background-color: #20d3cad7;
  cursor: pointer;
  box-shadow: 0 0 10px #333;
  overflow: hidden;
  transition: .3s;
}
.showDel:hover , .showDel.big:hover , .deleter:hover {
  background-color: #21f0e5;
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: .3s;
}
.bin{
  color: rgb(231, 50, 50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.bin.hidden {
  opacity: 0;
  transition: .3s;
}
.ConfirmDelete{
  width: 150px;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  color: rgb(231, 50, 50);
  font-weight: 600;
  transition: .3s;
}
.showDel.big {
  width: 150px;
  height: 50px;
  transition: .3s;
}
.ConfirmDelete.hidden {
  opacity: 1;
  transition: .3s;
}

  .btn:hover,
  .btn:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
  }

.buttonWrap{
  margin-top: 5px;
    display: flex ;
    justify-content: left  ;
}

.deleter.hidden {
  display: none;
}

.column{
    flex: 0 0 50%;
    box-sizing: content-box;
}

.gridMode.NoteList {
  display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
  }
  .listMode.NoteList {
      display: flex;
  flex-direction: column;
  max-width: 40%;
  
  }

  .note,.listedNote{
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 250px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    box-shadow: rgba(0, 170, 255, 0.479) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;}
  

  .note.new {
    background-color: #67d7cc;
  }

.note-footer{
  display: flex;
	align-items: right;
	justify-content: space-between;
}

.textAddContent{
	border: none;
	resize: none;
	background-color: #67d7cc;
}
.textAddContent:focus {
	outline: none;
}


.postedNote,.postedTitle{
  margin-top:2px;
  align-self: center;
  word-break: break-all;
  // max-width: 100%; /* Limit the width of the element */
  // overflow: hidden;
  line-height: 1.2;

}
.dark-mode {
	background-color: black;
  background-size: 100% 100%;
}

.dark-mode h1 {
	color: white;
}
.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
  border-width: 2px;
  border-color: #000;
}
.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.titleWrap{
  display: flex ;
    // overflow-inline:clip ;
}

.postedTitle{
  margin-bottom: 0px;
  font-weight: bold;
  font-size: large;
  }


.closeButton.hidden {
  display: none;
}


    .closeButton {
      --size: 20px;
      --border-size: 2px;
  
      position: relative;
    }
  
    .closeButton *,
    .closeButton *::after,
    .closeButton *::before {
      box-sizing: border-box;
    }
  
    .closeButton input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
      opacity: 0;
    }
  
    .closeButton input[type="checkbox"],
    .closeButton label::before {
      width: var(--size);
      height: var(--size);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .closeButton label {
      display: inline-block;
      position: relative;
      padding: 0 0 0 calc(var(--size) + 7px);
    }
  
    .closeButton label::before {
      content: '';
      border: var(--border-size) solid #000;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  
    .closeButton input[type="checkbox"]:checked + label::before {
      opacity: 1;
    }
  
    .closeButton svg {
      position:absolute;
      top: calc(75% + var(--border-size));
      left: var(--border-size);
      width: calc(var(--size) - (var(--border-size) * 2));
      height: calc(var(--size) - (var(--border-size) * 2));
      margin-top: calc(var(--size) / -2);
      pointer-events: none;
    }
  
    .closeButton svg path {
      stroke-width: 0;
      fill: none;
      transition: stroke-dashoffset 0.2s ease-in 0s;
    }
  
    .closeButton svg path + path {
      transition: stroke-dashoffset 0.2s ease-out 0.2s;
    }
  
    .closeButton input[type="checkbox"]:checked ~ svg path {
      stroke-dashoffset: 0;
      stroke-width: calc(var(--size) / 2);
    }

  // .searchBar{
  //   background-color: hsl(180, 70%, 91%);
  //   border-radius: 10px;
  //   border-color:black ;
  //   border-width: 2px;
  //   font-weight:bold;
  //   border-width:8px;
  //   border-style:inset;
  //   border-color:#119992;
  //   box-shadow: 5px 4px 6px 1px rgba(42, 42, 42, 0.742);
  // }
.searchBarWrap{
  display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}
.searchBar{
  border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}
.searchBar:focus {
	outline: none;
}

.resetButton{
  align-items: center;
  appearance: none;
  background-color: #119992;
  border-radius: 11px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 6px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#057f79be 0 -4px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.resetButton:focus {
  box-shadow: #057f79 0 0 0.5px 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #057f79be 0 -3px 0 inset;
}

.resetButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #057f79be 0 -3px 0 inset;
  transform: translateY(-2px);
}

.resetButton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.form-wrap {
  width: 100%;
  padding: 2em;
  background: rgba(black, .15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:relative;
  
  &:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    
    background: linear-gradient(
      to right,
      $green-dark,
      $green-light
    );    
  }
  
  @media screen and (min-width: 600px) {
    width: 50vw;
    max-width: 15em;
  }
}

  .flex-row {
    display: flex;
    margin-bottom: 1em;
  }
  
  .lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: $gray-light;
    cursor: pointer;
  }
  .lf--input,#registration_form_email,#registration_form_plainPassword {
    flex: 1;
    padding: 1em;
    border: 0;
    color: $gray;
    font-size: 1rem;

    &:focus {
      outline: none;
      transition: transform .15s ease;
      transform: scale(1.1);
    }
  }

  .lf--submit,.btn {
    display: block;
    padding: 1em;
    width: 100%;
    
    background: linear-gradient(
      to right,
      $green-dark,
      $green-light
    );
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: .75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(black, .2);
    
    &:focus {
      outline: none;
      transition: transform .15s ease;
      transform: scale(1.1);
    }
  }

.lf--forgot {
  margin-top: 1em;
  color: lightgray;
  font-weight: bolder;
  font-size: .80em;
  text-align:center;
  position: inherit;
}

::placeholder { color: $gray; }

.bodyWrap{
  
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;

  position:relative;
}
.verticalBodyWrap{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.form_row{
  background-color: red;
}

#registration_form_agreeTerms{
  height:1.5em;
width:1.5em;
cursor:pointer;
position:relative;
border-radius:4em;
margin-bottom: 15px;
}

.logout_wrap{
  display: inline-flex;
  flex-direction: column; 
  text-align: right ;
  // background-color: #e1e1e1;
	// border: none;
	// border-radius: 15px;
	// padding: 5px 10px 5px 10px;
  

}
// .logout{
//   // color: rgb(28, 25, 50);
//   // font-weight: bolder;
//   // font-size: .80em;
// }
// .logout:hover{
//   color:red;
// }





.trash_icons{
  display:flex;
  // flex-direction: column; 
  // align-content: flex-end;
  align-self: flex-end;
}